RewriteEngine On

RewriteCond %{HTTP_HOST} ^kuba\.msk\.ru$
RewriteCond %{SERVER_PORT} ^80$
RewriteRule ^(.*)$ https://kuba.msk.ru/$1 [R=302,L,QSA]

RewriteCond %{HTTP_HOST} ^www\.kuba\.msk\.ru [NC]
RewriteRule ^(.*)$ https://kuba.msk.ru/$1 [R=302,L,QSA]

Deny From All
Allow From 128.0.142.30
